<div class="main-content">
    <div class="container-fluid">
       <!-- OVERVIEW -->
        <div class="panel panel-headline">
           <h2 style="text-align: center;
           margin-bottom: 40px;
           margin-top: 25px;"> Plan Information</h2>
           <div class="packages-section">
             <div class="plan-box col-md-3 plan-colmun-1">
                <div class="center" *ngIf = "userPlan">
                   <h2 style="background-color: #D3001D ;"></h2>
                   <h5><span>{{userPlan.plan_name}}</span></h5>
                   <h3>${{userPlan.price}}</h3>
                   <p>Up to {{userPlan.photos}} photos &nbsp;Run for {{userPlan.duration}} weeks &nbsp;Free Until Sold. Free Renewals</p>
                   <div class="button-sectoin">
                      <a href="JavaScript:void()"><input type="button" value="Change Plan" name="search_post" class="primary-button-green basic_package_link"></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- END MAIN CONTENT -->
 </div>