<div id="sidebar-nav" class="sidebar-nav">
    <div class="sidebar-scroll">
       <nav>
         <ul class="nav">
            <div class="referal-sidebar-div text-center">
               <div class="referal-image">
                  <img src="{{imageUrl}}" class="img-fluid">
                  <h5> {{userDetails.name}}</h5>
                  <span class="ref-balance">{{'bal' | translate}}: {{userDetails.countryObj.symbol}} {{remaining * conversion.toFixed(2) || '0'}}</span>
               </div>
            </div>
             <li [class.active]="urlmatch('my-ads')"><a routerLink='/my-ads' *ngIf="userDetails.user_type=='seller'">{{'myAds' | translate}}</a></li>
             <li [class.active]="urlmatch('profile')"><a routerLink='/profile'>{{'profile' | translate}}</a></li>
             <li [class.active]="urlmatch('messages/custom')"><a routerLink='/messages/custom'>{{'messages' | translate}}</a></li>
             <li [class.active]="urlmatch('my-plan')"><a routerLink='/my-plan'>>{{'myPlan' | translate}}</a></li>
             <!-- <li [class.active]="urlmatch('my-plan')"><a routerLink='/my-plan' *ngIf="userDetails.user_type=='seller'">My Plan</a></li> -->
             <li [class.active]="urlmatch('bookmarks')"><a routerLink='/bookmarks'>{{'fav' | translate}}</a></li>
             <li [class.active]="urlmatch('saved-searches')"><a routerLink='/saved-searches' *ngIf="userDetails.user_type=='buyer'">{{'saved' | translate}}</a></li>
             <li [class.active]="urlmatch('referal')"><a routerLink='/referal'>{{'refer' | translate}}</a></li>
             <li [class.active]="urlmatch('wallet')"><a routerLink='/wallet'>{{'wallet' | translate}}</a></li>
             <li [class.active]="urlmatch('bank-info')"><a routerLink='/bank-info'>{{'bank' | translate}}</a></li>
             <li [class.active]="urlmatch('payments-requests')"><a routerLink='/payments-requests'>{{'transfers' | translate}}</a></li>
             <li [class.active]="urlmatch('change-user-password')"><a routerLink='/change-user-password'>{{'change' | translate}}</a></li>

             <li><a (click) = "logout()">{{'logout' | translate}}</a></li>
          </ul>
       </nav>
    </div>
 </div>