<div class="login-form">
     <div class="main-div">
        <div class="panel">
           <h2>Contact Us</h2>
           
           <form id="contact-form"  [formGroup]="contactForm" (ngSubmit)="contact()">
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                         <input type="text" class="form-control"formControlName="name"  name="name" placeholder="Name" required="">
                    </div>
                    </div>
                    <div class="col-md-12">
                         <div class="form-group">
                         <input type="email" class="form-control"formControlName="email"  name="email" placeholder="Email" required="">
                    </div>
                    </div>
                    <div class="col-md-12">
                         <div class="form-group">
                         <textarea  style="height: 70px;" class="form-control" rows="5" formControlName="message" name="message" placeholder="Message" required=""></textarea>
                    </div>
                    </div>
                    <div class="col-md-12 mt-1 text-center">
                         <button class="btn btn-primary">Send Message</button>
                     </div>
                     <div _ngcontent-serverapp-c6="" class="col-md-12 mt-2 text-center"><a _ngcontent-serverapp-c6="" _ngcontent-serverapp-c4="" href="mailto:admin@parrotautotrader.com">admin@parrotautotrader.com</a></div>
               </div>
              </form>
     
 
        </div>
 
     </div>
 
  </div>

