><div class="login-form">
    <div class="main-div">
       <div class="panel">
          <h2>Check Your Vehicle Value</h2>

       </div>
       <form>
          <div class="form-group">
              <label>Enter Registration</label>
             <input type="text" placeholder="eg AB12CDE" [(ngModel)] = "registration" [ngModelOptions]="{standalone: true}" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Enter mileage</label>
           <input type="test" placeholder="Mileage" [(ngModel)] = "mileage" [ngModelOptions]="{standalone: true}" class="form-control" required>
        </div>
         
          <button type="button" class="btn btn-primary" (click) = "start()">Start Check</button>
       </form>
    </div>

 </div>
