<section class="pagination">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <a href="JavaScript:void(0)" (click)="back()"><i class="fa fa-angle-left" aria-hidden="true"></i> {{'back' | translate}}</a>
          </div>
       </div>
    </div>
 </section>

<section class="mangol-section">
    <div class="container">
        <div class="row">
           <div class="col-md-8 col-sm-12">
                   <div class="mang-text">
                       <h2 *ngIf="userInfo">{{userInfo.company}}</h2>
                       <p *ngIf = "average"> <star-rating value="{{average}}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating><span>{{average.toFixed(2)}} ({{totalReviews}} reviews)</span></p>
                       <p *ngIf = "!average"> <star-rating value="0" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating><span> 0 ({{totalReviews}} reviews)</span></p>
                       <p *ngIf="userInfo">{{userInfo.company}}</p>
                       <p *ngIf="userInfo">{{userInfo.about}}</p>
                   </div>
           </div>
               <div class="col-md-4 col-sm-12">
                <div class="mang-right">
                    <h5>Knutsford, WA16 9NS</h5>
                    <p *ngIf="userInfo"><a href="">{{userInfo.phone}}</a></p>
                    <p><a href="" class="btn-theme orange" (click) = "websiteopen(userInfo.website)">Visit Website</a></p>
                    <div class="footer-social-icons">
                        <ul class="social-icons">
                            <li><a href="javascript:void(0)" (click) = "websiteopen(userInfo.facebook)"  class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)" (click) = "websiteopen(userInfo.linkedin)" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0)" (click) = "websiteopen(userInfo.twitter)" class="social-icon"> <i class="fa fa-twitter"></i></a></li>                           
                        </ul>
                    </div>
                </div>
               </div>
        </div>
    </div>
</section>





 
 <section id="related-products" class="related-padding no-gutters">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h4 id="title" class="related-heading" *ngIf=" userAdsListed && userAdsListed.length > 0">{{'moreAds' | translate}}</h4>
             <a href="javascript:void()"><span class="vew-all"  *ngIf=" userAdsListed && userAdsListed.length > 4"  (click)= "viewAll(cars)">{{'viewAll' | translate}}</span></a>
          </div>         
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let userAdd of userAdsListed | slice:0:8;" style="cursor: pointer;" (click) = "otherDetails(userAdd.id,$event,'test')">
             <div class="card">
                <img class="card-img-top" src="{{userAdd.main_image}}" alt="Card image">
                <div class="card-body">
                  <div  class="card-hd">
                     <div class="related-header">
                        <div class="related-elem">                          
                           <p class="strike-through price-txt">{{userAdd.currency}} {{userAdd.price  | number}}</p>
                        </div>  
                         <div class="related-elem">                          
                            <p class="model-car text-right">{{userAdd.registration}}</p>
                         </div>
                       </div>
                   </div>
                   <div  class="card-title">
                      <h4>{{userAdd.make}} {{userAdd.model}} {{userAdd.variant}}</h4>
                      <p class="p-card__desc">{{userAdd.vehicleCond}} | {{userAdd.gear}} | {{userAdd.fuelType}}</p>
                   </div>
                  
                </div>
              </div>
          </div>
 
       </div>
    </div>
 </section>
 


 <section class="content-item" id="comments">
    <div class="container">         
        <div class="row">
            <div class="col-sm-8">                 
                <!-- COMMENT 1 - START -->
                <div class="media mang-pg" *ngFor="let x of reviewsList">
                    <div class="media-body">
                        <h4 class="media-heading">{{x.title}}</h4>
                        <p> <star-rating value="{{x.rating}}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating></p>
                        <p>By {{x.name}} on {{x.created_date | date}}<span>|</span></p>
                        <p>{{x.description}}</p>
                    </div>
                </div>
  
            
            </div>
            <div class="col-sm-4">
                <div class="write-a-rev">
                    <p>Had on experience with this dealer?</p>
                    <p><a href="javascript:void(0)" (click)="openMessage(message)" class="btn-theme orange">Write a Review</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

 

 <ng-template #message>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Review</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefMessage.hide()">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
       <form [formGroup]="messageForm" autocomplete="off" novalidate (ngSubmit)="sendMessage()">
         <div class="form-group">
            <star-rating value="0" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
         </div>
       
         <div class="form-group">
            <textarea [ngClass]="{ 'is-invalid': submitted && fM.title.errors }" formControlName="title" placeholder="Title" required class="form-control"></textarea>
         </div>
       <div class="form-group">
          <textarea [ngClass]="{ 'is-invalid': submitted && fM.review.errors }" formControlName="review" placeholder="Review" required class="form-control"></textarea>
       </div>
       <button type="submit" class="btn btn-success">Submit</button>
       </form>
    </div>
 </ng-template>
 

 <ng-template #share>
   <div class="modal-header">
      <h4 class="modal-title pull-left">{{'share' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefShare.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form>
         <label>{{'sharePost' | translate}}</label>
         <div class="form-group">
            <share-button text="{{'share' | translate}}" [showText]="true" button="facebook"  [url]=urlShare></share-button>
            <share-button button="linkedin"  text="{{'linkedin' | translate}}" [showText]="true"   [url]=urlShare></share-button>
            <share-button button="twitter" text="{{'Tweet' | translate}}" [showText]="true"   [url]=urlShare></share-button>
            <share-button button="whatsapp"  text="{{'Whatsapp' | translate}}" [showText]="true"   [url]=urlShare></share-button>
         </div>
      </form>
   </div>
</ng-template>
 
 <ng-template #cars>
    <div class="modal-header">
       <h4 class="modal-title pull-left">{{'viewAll' | translate}}</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAll.hide()">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body" id="modalDetails">
       <div class="prodct-section">
          <div class="products" style="cursor:pointer;width:80%;margin:30px auto;" (click) = "otherDetails(searchAds.id,$event.stopPropagation(),searchAds.user_id)" *ngFor = "let searchAds of userAdsListed |paginate: { itemsPerPage: 10, currentPage: p }">
              <div class="pro-header" >
                 <h5>{{searchAds.make}} {{searchAds.model}} <span> {{searchAds.variant}}</span> </h5>
                 <div class="actionbutton">
                    <a href="JavaScript:void(0)" (click)= "bookmark(searchAds,$event.stopPropagation())"><i class="fa"  [ngClass] = "{'fa-star-o':!searchAds.isBookMark,'fa-star':searchAds.isBookMark}"  aria-hidden="true"></i>{{'addList' | translate}}</a>
                    <a href="JavaScript:void(0)" (click)= "openShare(share,$event,searchAds,$event.stopPropagation())"><i class="fa fa-share-alt" aria-hidden="true" ></i>{{'share' | translate}}</a>
                 </div>
              </div>
              <div class="product-data">
                 <div class="row">
                    <div class="col-lg-4">
                       <div class="prp-image">
                         <img src="{{searchAds.main_image}}" class="image-fit" alt="img">
                       </div>
                    </div>
                    <div class="col-lg-8">
                       <div class="vichle data">
                          <div class="vichle-price">
                             <h2>£ {{searchAds.price}}</h2>
                          </div>
                          <div class="vichle-info">
                             <ul>
                                <li>{{searchAds.mileage}} {{'miles' | translate}} </li>
                                <li>{{searchAds.created_at | date}}  </li>
                                <li>{{searchAds.power}} </li>
                                <li>{{searchAds.vehicleCond}}</li>
                                <li>{{searchAds.owners}} (Previous Owners)</li>
                                <li>{{searchAds.gear}} </li>
                                <li>{{searchAds.fuelType}} </li>
                                <!-- <li>4.4 l/100 km (comb) 1</li>
                                <li>114 g CO2/km (comb) 1</li> -->
                             </ul>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="prodcut-ftr">
                 <span  style="text-transform: capitalize;">{{searchAds.sellers}}, <img src="assets/images/flag.png" style="width: 46px;" alt="img"> {{searchAds.city}}</span>
              </div>
           </div>
        
        </div>
        <div class="propagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
 
        </div>
 
 
 
    </div>
 </ng-template>