<div class="login-form">
    <div class="main-div">
       <div class="panel">
        
          <div class="infoaccount-signin">
            <a href="JavaScript:void(0)" class="btn btn-block btn-facebook" (click) = "register('buyer')"><i  aria-hidden="true"></i> {{'search' | translate}}</a>
             <a href="JavaScript:void(0)" class="btn btn-block btn-google"  (click) = "register('seller')"><i  aria-hidden="true"></i>
               {{'sell' | translate}}</a>
         </div>
       </div>
      
    </div>

 </div>