
<div class="login-form">
    <div class="main-div">
       <div class="panel">
          <h2>{{'forget' | translate}}</h2>
         
       </div>
       <form [formGroup]="forgotForm" autocomplete="off" novalidate (ngSubmit)="forgot()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="{{'email' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" required>
          </div>
         
          <button type="submit" class="btn btn-primary">{{'submit' | translate}}</button>
       </form>
    </div>

 </div>

