<section class="banner">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-lg-5 d-flex">
             <div class="search-mask">
                <ul class="nav nav-tabs" role="tablist">
                   <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" (click) = "setType('car')">
                        <img src="assets/images/tabicon-1.png">
                      </a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"   (click) = "setType('van')">
                       <img src="assets/images/van.png" style="width: 36px;">
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" style="padding: 11px 37px;"  data-toggle="tab" href="#tabs-3" role="tab" (click) = "setType('truck')">
                       <img src="assets/images/tabicon-3.png">
                     </a>
                  </li>
                   <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"  (click) = "setType('bike')">
                       <img src="assets/images/tabicon-2.png">
                      </a>
                   </li>
             
                    
                </ul>
                <!-- Tab panes -->

                <form  [formGroup]="searchForm" autocomplete="off" novalidate >
                <div class="tab-content">
                   <div class="tab-pane active" id="tabs-1" role="tabpanel"  >
                      <div class="offertype">
                         <span>
                            <div class="form-group">
                               <input type="checkbox" id="html" (change) = "searchDetails()" formControlName="new" >
                               <label for="html">{{'new' | translate}}</label>
                            </div>
                         </span>
                         <span>
                            <div class="form-group">
                               <input type="checkbox" id="used"  (change) = "searchDetails()" formControlName="used">
                               <label for="used">{{'used' | translate}}</label>
                            </div>
                         </span>
                         <span>
                            <div class="form-group">
                               <input type="checkbox"  (change) = "searchDetails()" formControlName="registered" id="registered">
                               <label for="registered">{{'pre' | translate}}</label>
                            </div>
                         </span>
                      </div>
                      <div class="row">
                         <div class="col-md-6 col-lg-6 d-flex">
                            <div class="form-group">
                               <select class="form-control" (change)="getModels()" formControlName="make" id="sel1">
                                  <option value="">{{'make' | translate}}</option>
                                  <option value = "{{make.id}}" *ngFor="let make of makes">{{make.make}}</option>
                                 
                               </select>
                            </div>
                         </div>
                         <div class="col-md-6 col-lg-6 d-flex">
                            <div class="form-group">
                               <select class="form-control" (change)="searchDetails()" formControlName="model" id="sel1">
                                  <option value="">{{'model' | translate}}</option>
                                  <option   value = "{{model.model}}" *ngFor="let model of models">{{model.model}}</option>
                                 
                               </select>
                            </div>
                         </div>
                         <div class="col-md-6 col-lg-6 d-flex">
                            <div class="form-group">
                               <select class="form-control" (change)="searchDetails()" formControlName="firstRegistration" id="sel1">
                              <option value=""> {{'select' | translate}}</option>
                                  <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                                
                                  
                               </select>
                            </div>
                         </div>
                         <div class="col-md-3 col-lg-3 d-flex" style="padding-right:0px;padding-left: 7.5px;">
                           <div class="form-group">
                              <select *ngIf="countryObj" class="form-control" (change)="searchDetails()" formControlName="priceFrom" id="sel1">
                                 <option value="">{{'priceFrom' | translate}}</option>
                                 <option value="{{ 500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0)}}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number }}</option>
                                 <option value="{{2000 * conversion.toFixed(0)}}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                              </select>

                           
                             
                           </div>
                        </div>
                        <div class="col-md-3 col-lg-3 d-flex" style="padding-right: 7.5px;padding-left: 7.5px;">
                          <div class="form-group">
                           <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceTo" id="sel1">
                              <option value="">{{'priceTo' | translate}}</option>
                              <option value="{{ 500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                              
                           </select>

                           
                            
                          </div>
                       </div>
                         <div class="col-md-6 col-lg-6 d-flex">
                            <div class="form-group">
                               <select class="form-control" id="sel1"  (change)="changeCountry()" formControlName =  "countryName">
                                  <option value="{{x.country}}" *ngFor="let x of countries">{{x.country}}</option>
                                 
                               </select>
                            </div>
                         </div>
                         <div class="col-md-6 col-lg-6 d-flex">
                            <div class="form-group">
                              <input type="text" (onAddressChange)="handleAddressChange($event)" ngx-google-places-autocomplete [options]='options' #placesRef1="ngx-places" placeholder="{{'city' | translate}}" formControlName =  "city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'city' | translate}}">
                            </div>
                         </div>
                        
                      </div>
                      
                      <div class="cl-fillter">
                         <div class="row">
                           
                            <div class="col-md-6 col-lg-6 d-flex ">
                             <div class="d-flex">
                                    <button (click)="search()">{{totalRecords}} {{'result' | translate}}</button>
                             </div>
                          
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="tab-pane" id="tabs-2" role="tabpanel">
                     <div class="offertype">
                        <span>
                           <div class="form-group">
                              <input type="checkbox" id="html1" (change) = "searchDetails()" formControlName="new" >
                              <label for="html1">{{'new' | translate}}</label>
                           </div>
                        </span>
                        <span>
                           <div class="form-group">
                              <input type="checkbox" id="used1"  (change) = "searchDetails()" formControlName="used">
                              <label for="used1">{{'used' | translate}}</label>
                           </div>
                        </span>
                        <span>
                           <div class="form-group">
                              <input type="checkbox"  (change) = "searchDetails()" formControlName="registered" id="registered1">
                              <label for="registered1">{{'pre' | translate}}</label>
                           </div>
                        </span>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="getModels()" formControlName="make" id="sel1">
                                 <option value="">{{'make' | translate}}</option>
                                 <option value = "{{make.id}}" *ngFor="let make of makes">{{make.make}}</option>
                                
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="searchDetails()" formControlName="model" id="sel1">
                                 <option value="">{{'model' | translate}}</option>
                                 <option   value = "{{model.model}}" *ngFor="let model of models">{{model.model}}</option>
                                
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="searchDetails()" formControlName="firstRegistration" id="sel1">
                                 <option value="">{{'select' | translate}}</option>
                                 <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                                 
                              </select>
                           </div>
                        </div>
                        <div class="col-md-3 col-lg-3 d-flex" style="padding-right: 0px;padding-left: 7.5px;">
                           <div class="form-group">
                              <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceFrom" id="sel1">
                                 <option value="">{{'priceFrom' | translate}}</option>
                                 <option value="{{ 500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                              </select>

                           
                             
                           </div>
                        </div>
                        <div class="col-md-3 col-lg-3 d-flex" style="padding-right: 7.5px;padding-left: 7.5px;">
                          <div class="form-group">
                           <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceTo" id="sel1">
                              <option value="">{{'priceTo' | translate}}</option>
                              <option value="{{ 500 * conversion.toFixed(0) | number}}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0)}}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                              
                           </select>

                           
                            
                          </div>
                       </div>
                       <div class="col-md-6 col-lg-6 d-flex">
                        <div class="form-group">
                           <select class="form-control" id="sel1"  (change)="changeCountry()" formControlName =  "countryName">
                              <option value="{{x.country}}" *ngFor="let x of countries">{{x.country}}</option>
                             
                           </select>
                        </div>
                     </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                             <input type="text" (onAddressChange)="handleAddressChange($event)" ngx-google-places-autocomplete [options]='options' #placesRef2="ngx-places" placeholder="{{'city' | translate}}" formControlName =  "city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'city' | translate}}">
                           </div>
                        </div>
                       
                     </div>
                     
                     <div class="cl-fillter">
                        <div class="row">
                          
                           <div class="col-md-6 col-lg-6 d-flex ">
                            <div class="d-flex">
                                   <button (click)="search()">{{totalRecords}} {{'result' | translate}}</button>
                            </div>
                         
                           </div>
                        </div>
                     </div>
                   </div>
                   <div class="tab-pane" id="tabs-3" role="tabpanel">
                     <div class="offertype">
                        <span>
                           <div class="form-group">
                              <input type="checkbox" id="html1" (change) = "searchDetails()" formControlName="new" >
                              <label for="html1">{{'new' | translate}}</label>
                           </div>
                        </span>
                        <span>
                           <div class="form-group">
                              <input type="checkbox" id="used1"  (change) = "searchDetails()" formControlName="used">
                              <label for="used1">{{'used' | translate}}</label>
                           </div>
                        </span>
                        <span>
                           <div class="form-group">
                              <input type="checkbox"  (change) = "searchDetails()" formControlName="registered" id="registered1">
                              <label for="registered1">{{'pre' | translate}}</label>
                           </div>
                        </span>
                     </div>

                     <div class="row">
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="getMakesTrucks()" formControlName="category" id="sel1">
                                 <option value="">{{'cate' | translate}}</option>
                                 <option value = "rigid" >Rigid Trucks</option>
                                 <option value = "tractor" >Tractor Units</option>
                                 <option value = "trailer" >Trailers</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="getModels()" formControlName="make" id="sel1">
                                 <option value="">{{'make' | translate}}</option>
                                 <option value = "{{make.id}}" *ngFor="let make of makes">{{make.make}}</option>
                                
                              </select>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                 
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="searchDetails()" formControlName="model" id="sel1">
                                 <option value="">{{'model' | translate}}</option>
                                 <option   value = "{{model.model}}" *ngFor="let model of models">{{model.model}}</option>
                                
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="searchDetails()" formControlName="firstRegistration" id="sel1">
                                 <option value="">{{'select' | translate}}</option>
                                 <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                                 
                              </select>
                           </div>
                        </div>
                        <div class="col-md-3 col-lg-3 d-flex" style="padding-right: 0px;padding-left: 7.5px;">
                           <div class="form-group">
                              <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceFrom" id="sel1">
                                 <option value="">{{'priceFrom' | translate}}</option>
                                 <option value="{{ 500 * conversion.toFixed(0)}}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0)}}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                              </select>

                           
                             
                           </div>
                        </div>
                        <div class="col-md-3 col-lg-3 d-flex" style="padding-right: 7.5px;padding-left: 7.5px;">
                          <div class="form-group">
                           <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceTo" id="sel1">
                              <option value="">{{'priceTo' | translate}}</option>
                              <option value="{{ 500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                              
                           </select>

                           
                            
                          </div>
                       </div>
                       <div class="col-md-6 col-lg-6 d-flex">
                        <div class="form-group">
                           <select class="form-control" id="sel1"  (change)="changeCountry()" formControlName =  "countryName">
                              <option value="{{x.country}}" *ngFor="let x of countries">{{x.country}}</option>
                             
                           </select>
                        </div>
                     </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                             <input type="text" (onAddressChange)="handleAddressChange($event)" ngx-google-places-autocomplete [options]='options' #placesRef3="ngx-places" placeholder="{{'city' | translate}}" formControlName =  "city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'city' | translate}}">
                           </div>
                        </div>
                       
                     </div>
                     
                     <div class="cl-fillter">
                        <div class="row">
                          
                           <div class="col-md-6 col-lg-6 d-flex ">
                            <div class="d-flex">
                                   <button (click)="search()">{{totalRecords}} {{'result' | translate}}</button>
                            </div>
                         
                           </div>
                        </div>
                     </div>
                   </div>
                   <div class="tab-pane" id="tabs-4" role="tabpanel"  >
                     <div class="offertype">
                        <span>
                           <div class="form-group">
                              <input type="checkbox" id="html" (change) = "searchDetails()" formControlName="new" >
                              <label for="html">{{'new' | translate}}</label>
                           </div>
                        </span>
                        <span>
                           <div class="form-group">
                              <input type="checkbox" id="used"  (change) = "searchDetails()" formControlName="used">
                              <label for="used">{{'used' | translate}}</label>
                           </div>
                        </span>
                        <span>
                           <div class="form-group">
                              <input type="checkbox"  (change) = "searchDetails()" formControlName="registered" id="registered">
                              <label for="registered">{{'pre' | translate}}</label>
                           </div>
                        </span>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="getModels()" formControlName="make" id="sel1">
                                 <option value="">{{'make' | translate}}</option>
                                 <option value = "{{make.id}}" *ngFor="let make of makes">{{make.make}}</option>
                                
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="searchDetails()" formControlName="model" id="sel1">
                                 <option value="">{{'model' | translate}}</option>
                                 <option   value = "{{model.model}}" *ngFor="let model of models">{{model.model}}</option>
                                
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                              <select class="form-control" (change)="searchDetails()" formControlName="firstRegistration" id="sel1">
                             <option value=""> {{'select' | translate}}</option>
                                 <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                               
                                 
                              </select>
                           </div>
                        </div>
                        <div class="col-md-3 col-lg-3 d-flex" style="padding-right:0px;padding-left: 7.5px;">
                          <div class="form-group">
                             <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceFrom" id="sel1">
                                <option value="">{{'priceFrom' | translate}}</option>
                                <option value="{{ 500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                               
                                <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                <option value="{{12500* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                <option value="{{40000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                <option value="{{100000* conversion.toFixed(0) }" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                             </select>

                          
                            
                          </div>
                       </div>
                       <div class="col-md-3 col-lg-3 d-flex" style="padding-right: 7.5px;padding-left: 7.5px;">
                         <div class="form-group">
                          <select class="form-control" *ngIf="countryObj" (change)="searchDetails()" formControlName="priceTo" id="sel1">
                             <option value="">{{'priceTo' | translate}}</option>
                             <option value="{{ 500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{ 1000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{ 1000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{1500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{1500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{2500 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{2500 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{3000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{3000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{4000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{4000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{5000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{5000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{6000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{6000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{7000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{7000 * conversion.toFixed(0) | number}}</option>
                                 <option value="{{8000 * conversion.toFixed(0) }}" >{{countryObj.symbol}} {{8000 * conversion.toFixed(0) | number}}</option>
                                
                                 <option value="{{9000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{9000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{10000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{10000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{12500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{12500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{17500* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{17500* conversion.toFixed(0) | number}}</option>
                                 <option value="{{20000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{20000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{25000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{25000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{30000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{30000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{40000* conversion.toFixed(0)}}" >{{countryObj.symbol}} {{40000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{50000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{50000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{75000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{75000* conversion.toFixed(0) | number}}</option>
                                 <option value="{{100000* conversion.toFixed(0) }}" >{{countryObj.symbol}} {{100000* conversion.toFixed(0) | number}}</option>
                             
                          </select>

                          
                           
                         </div>
                      </div>
                      <div class="col-md-6 col-lg-6 d-flex">
                        <div class="form-group">
                           <select class="form-control" id="sel1"  (change)="changeCountry()" formControlName =  "countryName">
                              <option value="{{x.country}}" *ngFor="let x of countries">{{x.country}}</option>
                             
                           </select>
                        </div>
                     </div>
                        <div class="col-md-6 col-lg-6 d-flex">
                           <div class="form-group">
                             <input type="text" (onAddressChange)="handleAddressChange($event)" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" placeholder="{{'city' | translate}}" formControlName =  "city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'city' | translate}}">
                           </div>
                        </div>
                       
                     </div>
                     
                     <div class="cl-fillter">
                        <div class="row">
                          
                           <div class="col-md-6 col-lg-6 d-flex ">
                            <div class="d-flex">
                                   <button (click)="search()">{{totalRecords}} {{'result' | translate}}</button>
                            </div>
                         
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
                </form>
             </div>
          </div>
          <div class="col-md-1 col-lg-1"></div>
          <div class="col-md-12 col-lg-6 d-flex">
            <div class="banner-text text-center">
              <h4>{{'parrot' | translate}} <span>{{'newDesign' | translate}} </span></h4>
              <span class="tagline">{{'lower' | translate}} </span>
            </div>
          </div>
       </div>
    </div>
 </section>


 <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
 class="modal fade"   tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
<div class="modal-dialog subscribe-pop">
<div class="modal-content">
  <div class="modal-header">
    <h4 id="dialog-auto-name" class="modal-title pull-left">Welcome to Parrot Auto Trader</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="container">
         <div class="row align-items-center">
           <div class="col-md-4 col-sm-12 col-xs-12">
             <img src="assets/images/logo.png"  alt="footer" class="img-fluid">
           </div>
           
           <div class="col-md-12">
            <p [innerHTML] = "content"></p>
           </div>
     
         </div>
        
       </div>

</div>
</div>
</div>
</div>
