<div class="login-form">
    <div class="main-div">
       <div class="panel">
         <div class="infoaccount-signin">
            <a href="JavaScript:void(0)" class="btn btn-block btn-facebook"  (click)="socialLogin('facebook')"><i class="fa fa-facebook" aria-hidden="true"></i> {{'facebook' | translate}}</a>
             <a href="JavaScript:void(0)" class="btn btn-block btn-google"  (click)="socialLogin('google')"><i class="fa fa-google" aria-hidden="true"></i>
               {{'google' | translate}}</a>
         </div>
          <h2>{{'registerPage' | translate}}</h2>
          <!-- <p>Please enter your email and password</p> -->
       </div>
       <form [formGroup]="addUserForm" autocomplete="off" novalidate (ngSubmit)="addUser()">
          <div class="form-group">
             <input type="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" class="form-control" placeholder="First name" required placeholder="{{'name' | translate}}" maxlength="10">
          </div>
          <div class="form-group">
             <input type="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" class="form-control"  required placeholder="{{'email' | translate}}">
          </div>
          <div class="form-group">
             <input type="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" class="form-control" required placeholder="{{'password' | translate}}">
             <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
               <div *ngIf="f.password.errors.minlength">{{'passwordVal'|translate}}</div>
           </div>
            </div>
          <div class="form-group">
             <input type="password"  [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }" formControlName="c_password" class="form-control"  required placeholder="{{'confirm' | translate}}">
             <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
               <div *ngIf="f.c_password.errors.mustMatch">{{'matchPass'|translate}}</div>
           </div>
            </div>

            <div class="form-group">
               <input type="text"  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone" class="form-control"  required placeholder="{{'phoneLabel' | translate}}">
              
           
              </div>

              
            <div class="form-group">
              <select class="form-control" (change) = "filterCountrydata()" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" formControlName="country" required>
                 <option value=""> {{'select' | translate}}</option>
               <option value = "{{country.country}}" *ngFor="let country of countries"> 
                  {{country.country}}

               </option>

              </select>
              
           
              </div>


            <div class="custom-radios" style="float: left;
            margin-bottom: 15px;">
               <div>
                   {{'seller'|translate}} <input type="radio"  formControlName="type" name= "type" value="seller" id="color-1"  checked>
                   <label for="color-1">
                     <span>
                     </span>
                   </label>
                 </div>
                 
                 <div>
                  {{'buyer'|translate}} <input type="radio" id="color-2"  formControlName="type" name= "type" value="buyer" >
                   <label for="color-2">
                     <span>
                     </span>
                   </label>
                 </div>
           </div>

           <div class="form-group" *ngIf="addUserForm.value.type == 'seller'">
            <input type="text" formControlName="website" class="form-control" placeholder="{{'website' | translate}}"  >
           
           </div>
          <div class="checkbox">
             <!-- <label class="checkbox">
             <input type="checkbox" value="remember-me">Receive our Newsletter
             </label> -->
             <label class="checkbox">
             <input type="checkbox" [ngClass]="{ 'is-invalid': submitted && f.terms.errors }"  formControlName="terms" value="remember-me">{{'agree' | translate}}
             </label>
          </div>
          <button type="submit" class="btn btn-primary">{{'registerPage' | translate}}</button>
       </form>
    </div>
 
 </div>